<h2>{{'Here are all the tracks available for'|t}} {{artistName}}:</h2>
{# piggybackl off of rfn artist playlist code #}
{{ attach_library('rfn_artist/rfn_artist')}}
{% set track_counter = 0 %}
<hr>
<table>
    <thead>
        <td>{{'Album'|t}}</td>
        <td>{{'Title'|t}}</td>
        <td>{{'Duration'|t}}</td>
    </thead>
    <tbody>
{% for track in tracks %}
    {% set track_counter = track_counter + 1 %}
    {% set odd_even = 'odd' %}
    {% if track_counter %2 %} {% set odd_even = 'even' %} {% endif %}
    <tr class="{{odd_even}}">
        <td>{{track.album}}</td>
        <td>{{track.title}}</td>
        <td>{{track.duration}}</td>
    <tr/>
    <tr class="{{odd_even}}">
        <td colspan="3">
            <audio controls controlsList="nodownload" onplay="stopAllOtherPlayers(event);">
            <source src="{{ rfn_build_streaming_uri(track.uri)}}" type="audio/mpeg">
            Your browser does not support the audio element.
            </audio>


    
        </td>
    </tr>
{% endfor %}
        
    </tbody>
</table>

