{{ attach_library('rfn_artist/rfn_artist')}}

{# biography (the body tag) #}
{% if node.body.0.value != '' %}
<h3>{{ 'Biography' | trans}}:</h3>
    <div class="rfn-artist-biography">
    {{node.body.0.value|raw}}
    </div>
{% endif %}

{# artist images #}
{% if node.field_images | length %}
  <h2>{% trans %} Images related to {{ node.label }}{% endtrans %}</h2>
    {% for image in node.field_images %}
    <a href="{{ image.entity.fileuri|image_style('wide') }}" target="_blank" title="Image related to {{node.label|escape}}"><img src="{{ image.entity.fileuri | image_style('thumbnail')}}" ></a>
    {% endfor %}
{% endif %}

{# stream everything by this artist #}
<div class="artist-playlist">
    (artist playlist here)
    {#
{{ playlist_for_artist(node.id)|raw }}
#}
</div>
{# artist recordings #}
(recordings go here)
{#
{{ drupal_view('recordings_for_artist', 'block_1', node.id) }}
#}

{#
{{ drupal_block('rfn_sharing_buttons') }}
#}

(sharing butttons go here)



